{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <title>Booking</title>
</head>
<body>
    <main class="flex-shrink-0 main-bg">
        
        <!-- Content Goes here -->
     
    </main>
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% url 'add_booking' %}" class="btn-large light-blue darken-2">
                Book a Course <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% url 'view_booking' %}" class="btn-large light-blue darken-2">
                Manage my booking<i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>
</body>
</html>

{% endblock content %}