{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="col-12 mt-3 left">
    <div class="row">
        {% for bookcourse in bookcourse_list %}
        {% if request.user == bookcourse.username %}
        <div class="col-md-4 mt-10 p-1">
            <div class="card mb-4">
                <div class="card-body">
                    <p> {{ bookcourse.course }} booked by {{ bookcourse.username }} on  {{ bookcourse.booked_date }} </p>
                    <a href="{% url 'delete_booking'  bookcourse.id %}" class="btn btn-primary w-25">Delete</a>
                    <a href="{% url 'edit_booking'  bookcourse.id %}" class="btn btn-primary w-25">Edit</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}
