<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Bookings</h1>
    <!--table>
        {% for booking in booking_list %}
            <tr>
                    <td>{{ booking.course }}</td><td>booked on {{ booking.booking_date }}</td>
            </tr>
        {% empty %}
        <tr>
            <td>You have no active bookings</td>
        </tr>
        {% endfor%}
    </table-->
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
    <table>
        <tr>
          <td><a href = "{% url 'add_booking' %}">Book a Course</a></td>
          <td><a href = "{% url 'manage_booking' %}">Manage your booking</a><td>
        </tr>
    </table>
</body>
</html>