{% extends "base.html" %}
{% load static %}

{% block content %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
{% endblock %}
<body>
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% url 'add_booking' %}" class="btn-large light-blue darken-2">
                Book a Course <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% url 'view_booking' %}" class="btn-large light-blue darken-2">
                Manage my booking<i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>
    {% if user.is_superuser %}
    <div class="container">
    <form  action="{% url 'search_booking' %}" method="GET"  class="p-2 form">
        <h4 class="text-center">Find a booking</h4>
        {% csrf_token %}
        <input class="text-center" type="text" name="q" placeholder="Enter Full Name">
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Find</button>
        </div>
    </form>
</div>
    {% endif %}
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <strong>  {{ message }} </strong>
    {% endfor %}
</ul>
{% endif %}
</body>

{% endblock content %}