{% extends "base.html" %}

{% block title %} Course Detail - {{ course.title }}{%endblock%}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-12 masthead-text bg-info p-2 text-dark">
                <!-- Post title goes in these h1 tags -->
                <h1 class="course-title">{{ course.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="course-startdate">Starting On {{ course.starting_on }} </p>
                <p class="course-content">{{ course.content }} </p>
                <p class="course-teacher">Teacher : {{ course.teacher }} </p>
                <p class="course-place">Place: {{ course.place }} </p>
                <p>Please click the 'Course Button' below to check place availability</p> </p>
                <form  action="{% url 'check_course'  course.id %}" method=GET class="p-2 form">
                {% csrf_token %}
                  <div class="text-center">
                    <input type="submit"  class="btn btn-primary mt-2" name="course" value="{{course.title}}" >
                  </div>
                </form>

                {% if user.is_superuser %}
                <a href="{% url 'edit_course'  course.id %}" class="btn btn-primary w-25">Edit</a>
                {%endif%}
            </div>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <strong>  {{ message }} </strong>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
</div>

{%endblock%}