{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for course in course_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in course.course_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dmdnckqzb/image/upload/v1689636253/samples/landscapes/nature-mountains.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ course.course_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <span class="blue-o">{{ course.title }}</span><p class="startdate">Start_Date: {{ course.starting_on }}</p>
                                    <a href="{% url 'course_detail' course.slug %}" class="course-link">
                                        <h2 class="card-title">{{ course.title }}</h2>
                                    </a>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

</div>

{%endblock%}