{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- card for courses -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for course in course_list %}
                <div class="col-md-4">
                    <div class="card mb-4 bg-info text-dark">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in course.course_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dmdnckqzb/image/upload/v1689636253/samples/landscapes/nature-mountains.jpg">
                                {% else %}
                                <img class="card-img-top" alt="course_image" src=" {{ course.course_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <strong> {{ course.title }}</strong>
                                    <a href="{% url 'course_detail' course.id %}" class="course-link">
                                        <p>Click here for details</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
            {% if user.is_superuser %}
            <div class="text-center">
                <a href="{% url 'add_course' %}" class="btn btn-primary mt-2">Create Course </a>
            </div>
            {% endif %}
        </div>
    </div>

</div>

{%endblock%}